#outerContainer {
    display: flex;
    flex-direction: column;
}

#addBook {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#libraryShelf {
    background: green;
    height: 800px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}

.bookCard {
    background: white;
    width: 80%;
    height: 20%;
}

.bookRemoveButton {
    width: 55px;
    height: 20px;
    text-align: center;
}

.bookToggleButton {
    background-color: red;
    height: 30px;
}

#bookFormPopup {
    background: red;
    text-align: center;
    width: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 30%;
}

.formField {
    padding: 10px;
}

#addToLibrary {
    width: 80px;
    height: 40px;
}