body {
    background: #A9907E;
}

#outerContainer {
    display: flex;
    flex-direction: column;
}

#addBook {
    -webkit-appearance: none;
    border: 2px solid #675D50;
    font-size: 20px;
    border-radius: 5px;
    background: #2d8664;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#libraryShelf {
    background: #675D50;
    height: 800px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(5, 1fr);
}

.bookCard {
    border-radius: 15px;
    /*background: #F3DEBA;*/
    background: linear-gradient(to bottom, #F3DEBA 65%, #ABC4AA 35%);
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.bookInfo {
    grid-column: 1/2;
    grid-row: 1/2;
}

.bookRemoveButton {
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    background: #2d8664;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 65px;
    height: 30px;
    text-align: center;
}

.bookToggleButton {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookToggleButton input[type='checkbox'] {
	-webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid black;
    padding: 8px;
}

.bookToggleButton input[type='checkbox']:checked {
    background-color: #2d8664;
    
}

#bookFormPopup {
    background: #2d8664;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    display: none;
    position: fixed;
    left: 0;
    top: 30%;
}

#bookFormPopup input[type='text'] {
    border: none;
    border-radius: 3px;
    height: 1.5em;
}

#bookFormPopup select {
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    background: white;
    height: 1.5em;
    width: 40px;
}

.formField {
    padding: 10px;
}

#addToLibrary {
    -webkit-appearance: none;
    background: #F3DEBA;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 40px;
}